<plugin name='s3-resources' version='1.4.7-SNAPSHOT' grailsVersion='2.0 &gt; *'>
  <author>Jean-Vincent Drean</author>
  <authorEmail>jv@agorapulse.com</authorEmail>
  <title>Agorapulse S3 Resources Plugin</title>
  <description>Uploads resources to S3
</description>
  <documentation>http://agorapulse.atlassian.net</documentation>
  <type>S3ResourcesGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='aws-sdk' version='1.4.7' />
      <plugin group='org.grails.plugins' name='resources' version='1.2' />
    </compile>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='resources' version='1.0 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>